.main-box {
  width: 70vw;
  height: 70vh;
  background-color: rgb(243, 243, 243);
  border-radius: 6px;
  padding: 2rem;
  overflow-x: hidden !important;
}
.leftside {
  width: 100%;
  background-image: url("./assest/back-img.png");
  background-position: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* padding: 1rem; */
  margin: 0 !important;
  border-radius: 20px;
  background-color: rgb(11, 11, 14);
}
.content {
  width: 100%;
  height: 20vh;
  display: flex;
  padding-left: 2rem;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 12rem;
}
.form-con {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .form-con input {
  background-color: white;
} */

.back {
  color: #34d399;
}
.bottom {
  width: 100%;
  height: 2vh;
  /* padding-top: 4rem; */
  padding: 6rem 3rem 3.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.pief {
  width: 10rem;
  height: 10vh;
  background-image: url("./assest/pief.png");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100% 100%;
}
.cross {
  width: 7rem;
  height: 4vh;
  background-image: url("./assest/cross.png");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100% 100%;
  margin: 1rem;
}
.error {
  color: red;
  font-size: 17px;
}

/* media  */

/* small device */
/* * mobile */
@media (max-width: 640px) {
  .main-box {
    height: 80vh;
    width: 90vw;
  }
  .content h1 {
    font-size: 2rem;
  }
  .content h3,
  .content span {
    font-size: 1.2rem;
  }

  .form-con h1 {
    font-size: 2rem !important;
    text-align: center;
    padding: 0 !important;
  }
  .form-con p {
    font-size: 14px !important;
  }
  .form-con input {
    width: 15rem;
    font-size: 15px;
    padding: 5px;
  }
  .error {
    font-size: 11px;
  }
}
/* mobile */
@media (min-width: 640px) and (max-width: 768px) {
  .main-box {
    height: 90vh;
    width: 90vw;
  }
  .content h1 {
    font-size: 2rem;
  }
  .content h3,
  .content span {
    font-size: 1.2rem;
  }

  .form-con h1 {
    font-size: 2rem !important;
    text-align: center;
    padding: 0 !important;
  }
  .form-con p {
    font-size: 14px !important;
  }
  .form-con input {
    width: 15rem;
    font-size: 15px;
    padding: 5px;
  }
  .error {
    font-size: 11px;
  }
}
/* medium */
@media (min-width: 768px) and (max-width: 1024px) {
  .main-box {
    height: 80vh;
    width: 100vw;
  }

  .content h1 {
    font-size: 2rem !important;
  }
  .content h3,
  .content span {
    font-size: 1.2rem !important;
  }

  .form-con h1 {
    font-size: 2rem !important;
    text-align: center;
    padding: 0 !important;
  }
  .form-con p {
    font-size: 14px !important;
  }
  .form-con input {
    width: 18rem !important;
    font-size: 17px;
    padding: 8px;
  }
  .error {
    font-size: 15px;
  }
}
/* large */
@media (min-width: 1024px) and (max-width: 1324px) {
  .main-box {
    height: 70vh;
    width: 100vw;
  }

  .content h1 {
    font-size: 2.5rem !important;
  }
  .content h3,
  .content span {
    font-size: 1.5rem !important;
  }

  .form-con h1 {
    font-size: 3rem !important;
    text-align: center;
    padding: 0 !important;
  }
  .form-con p {
    font-size: 16px !important;
  }
  .form-con input {
    width: 20rem;
    font-size: 15px;
    padding: 8px;
  }
  .error {
    font-size: 16px;
  }
}
